
/*-------------------*/
/*     TITLE BAR     */
/*-------------------*/

.v-card {
    border-radius: 1px!important;
}

.titleBarLogo {
    height: 88px;
    position: relative;
    top: 14px;
}

.titleBarButtonSelected {
    color: red;
    border-bottom-style: solid !important;
    border-color: #cf491b!important;
}

.filAriane {
    padding: 0 .5rem;
    color: #595959;
}

.filAriane ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.filAriane li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: ">";
}

.filAriane span {
    color: #595959;
    cursor: pointer;
}

.filAriane span:hover {
    color: #9a3614;
    cursor: pointer;
    text-decoration: underline;
}

#footerDescription {
    color: black; text-align: start; padding-left: 2em; padding-right: 2em; width: 100%;
}

#footerAbesLinks {
    width: 100%;
    text-align: start;
    padding-left: 2em;
    flex: 1;
}

.footerTopRow {
    align-items: center;
    background-color: #e6e6e6;
    color: white;
    font-size: 1em;
    width: 100%;
}

.footerBottomRow {
    align-items: center;
    background-color: black;
    color: white;
    font-size: small;
    text-align: start;
    padding-left: 2em;
    padding-right: 2em
}

.fontPrimaryColor {
    color: #252C61;
}

.textFieldRegles .v-input__control .v-input__slot {
    min-height: auto!important;
}

.textFieldRegles label {
    color: #252C61!important;
}

.fontSecondaryColor {
    color: #B30900;
}

.bgColorPrimary {
    background-color: #252C61;
}

.bgColorSecondary {
    background-color: #B30900;
}

/* Header du tableau Détails des erreurs par PPN */
#bgColorGrey table thead tr th {
    background-color: #eaeaea;
}

/* Header du tableau Liste des PPN avec erreurs */
#bgColorResults table tr th {
    background-color: #535775;
}

/* Header du tableau Interface des règles */
#bgColorIdColumnRulesTable table tr th {
    background-color: #535775;
    font-size: 0.85em;
    font-weight: 500;
}

/* Colonne des ID du tableau Interface des règles */
#bgColorIdColumnRulesTable table tr td:nth-child(1) {
    color: #595959;
    font-weight: 400;
    font-size: 0.8em;
    font-style: italic;
}

.linkBlue {
    color: #252C61!important;
}

.linkWhite {
    color: white!important;
    text-decoration: none!important;
}

.borderSelectAnalyseType {
    border-style: solid!important;
    border-color: #252c61!important;
    border-top-width:4px!important;
    border-right-width:0!important;
    border-bottom-width:0!important;
    border-left-width:0!important;
}

.borderBlocElements {
    border-style: solid!important;
    border-color: #252c61!important;
    border-top-width:4px!important;
    border-right-width:1px!important;
    border-bottom-width:1px!important;
    border-left-width:1px!important;
    border-radius: 1px!important;
}

.borderPicturePpnErrorDetail {
    border: solid 1px lightgray;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    max-width: 65px;
    max-height: 75px
}

.detailErrorPpnSubtitle {
    font-size: 1em;
    padding-left: 76px;
    min-height: 38px;
}

.rappelTypeAnalyse {
    font-size: 1em;
    padding-left: 20px;
    min-height: 38px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #535775;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.v-checkbox .v-selection-control {
    min-height: auto !important;
}